@font-face {
  font-family: 'Kelson';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/34F1F5_0_0.eot');
  src:
    url('../fonts/34F1F5_0_0.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/34F1F5_0_0.woff2') format('woff2'),
    url('../fonts/34F1F5_0_0.woff') format('woff'),
    url('../fonts/34F1F5_0_0.ttf') format('truetype'),
    url('../fonts/34F1F5_0_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'Kelson';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/34F1F5_1_0.eot');
  src:
    url('../fonts/34F1F5_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/34F1F5_1_0.woff2') format('woff2'),
    url('../fonts/34F1F5_1_0.woff') format('woff'),
    url('../fonts/34F1F5_1_0.ttf') format('truetype'),
    url('../fonts/34F1F5_1_0.svg#wf') format('svg');
}
